@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DotGothic16&family=Mochiy+Pop+One&family=Mochiy+Pop+P+One&family=Momo+Signature&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Potta+One&family=Rampart+One&family=RocknRoll+One&family=Slackside+One&family=Yuji+Syuku&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #321612;
}

#background {
    background-image: url(assets/background.png);
    width: 990px;
    height: 2500px;
    margin: auto;
    z-index: 0;
    position: relative;
}

#container {
    z-index: 1;
    margin: auto;
    position: absolute;
}

#title {
    z-index: 3;
    margin-top: 117px;
    margin-left: 125px;
    position: absolute;
}

#subtitle {
    z-index: 3;
    margin-top: 650px;
    margin-left: 160px;
    position: absolute;
}

#image {
    z-index: 2;
    margin-top: 290px;
    margin-left: 23px;
    position: absolute;

}

#button {
    z-index: 4;
    margin-top: 775px;
    margin-left: 40px;
    position: absolute;
    display: flex;
}

#tamagoramen-button {
    margin-left: 20px;
}

#hirugao-button {
    margin-left: 20px;
}

#nippon-button {
    margin-left: 20px;
}

#menu {
    z-index: 5;
    margin-top: 920px;
    margin-left: 25px;
    position: absolute;
}

#nippon-menu {
    margin-top: 35px;
}


#tamagoh1-menu-left {
    z-index: 6;
    text-align: left;
    font-size: 25px;
    margin-top: 975px;
    margin-left: 130px;
    color: #972918;
    position: absolute;
}


#tamagomenu-desc-left {
    z-index: 6;
    text-align: left;
    font-size: 21px;
    margin-top: 1050px;
    margin-left: 130px;
    color: #972918;
    position: absolute;
}

#tamagomenu-desc-note {
    z-index: 6;
    text-align: left;
    font-size: 18px;
    margin-top: 1145px;
    margin-left: 130px;
    color: #972918;
    position: absolute;
}


#hirugaoh1-menu-right {
    z-index: 7;
    text-align: right;
    font-size: 25px;
    margin-top: 1335px;
    margin-left: 518px;
    color: #972918;
    position: absolute;
}

#hirugaomenu-desc-right {
    z-index: 7;
    text-align: right;
    font-size: 21px;
    margin-top: 1415px;
    margin-left: 430px;
    color: #972918;
    position: absolute;
}

#hirugaomenu-desc-note {
    z-index: 7;
    text-align: right;
    font-size: 18px;
    margin-top: 1485px;
    margin-left: 418px;
    color: #972918;
    position: absolute;
}

#nipponh1-menu-left {
    z-index: 6;
    text-align: left;
    font-size: 25px;
    margin-top: 1680px;
    margin-left: 130px;
    color: #972918;
    position: absolute;
}

#nipponmenu-desc-left {
    z-index: 6;
    text-align: left;
    font-size: 21px;
    margin-top: 1760px;
    margin-left: 130px;
    color: #972918;
    position: absolute;
}

#nipponmenu-desc-note {
    z-index: 6;
    text-align: left;
    font-size: 18px;
    margin-top: 1888px;
    margin-left: 130px;
    color: #972918;
    position: absolute;
}

#coupon-button {
    z-index: 6;
    margin-top: 2040px;
    margin-left: 250px;
    position: absolute;
}

#access {
    text-align: left;
}

#access-button {
    z-index: 6;
    margin-top: 2280px;
    margin-left: 75px;
    position: absolute;
}

#access-info {
    z-index: 6;
    font-size: 21px;
    margin-top: 2345px;
    margin-left: 75px;
    color: white;
    position: absolute;
}

#access-note {
    z-index: 6;
    font-size: 18px;
    margin-top: 2377px;
    margin-left: 75px;
    color: white;
    position: absolute;
}